<!-- TODO: AJAX -->
<h3><%= @portfolio.name unless @portfolio.name.nil? %></h3>
<%= simple_form_for(@portfolio) do |p| %>
  <%= p.input :name %>
  <%= p.submit "Submit", class: "button" %>
  <%= link_to "Cancel", :back, class: "button" %>
<% end %>
