<div class="holdings">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Ticker</div>
    <div class="cell">Sector</div>
    <div class="cell">Quantity</div>
    <div class="cell">Average Cost</div>
    <div class="cell">Current Price</div>
    <div class="cell">Total Cost</div>
    <div class="cell">Market Value</div>
    <div class="cell">YTD (%)</div>
    <div class="cell">P&L (%)</div>
    <div class="cell">Return (%)</div>
    <div class="cell"></div>
  </div>
  <% @portfolio.duplicates.each do |transaction| %>
    <div class="portfolio-row">
      <% transaction.each do |detail| %>
        <div class="cell"><%= detail %></div>
      <% end %>
      <div class="cell"><a data-toggle="collapse" data-target=".<%= transaction[1] %>" role="button" aria-expanded="false"><i class="fas fa-angle-down"></i></a></div>
    </div>
    <% selected_transactions = @portfolio.transactions.select { |x| x.ticker == transaction[1] } %>
    <% selected_transactions.each do |transaction| %>
      <div class="collapse <%= transaction.ticker %>">
        <div class="cell"><%= transaction.name(transaction.ticker) %></div>
        <div class="cell"><%= transaction.ticker.upcase %></div>
        <div class="cell"><%= transaction.sector(transaction.ticker) %></div>
        <div class="cell"><%= number_with_delimiter(transaction.shares) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.price.to_f) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.current_price(transaction.ticker).to_f) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.total_cost.to_f) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.market_value.to_f) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.profit_amount.to_f) %></div>
        <div class="cell"><%= number_with_delimiter("%.2f" % transaction.profit_pct) %>%</div>
        <div class="cell"><%= transaction.added.strftime("%d %b %Y") %></div>
        <div class="cell">Edit | Delete | Show</div>
      </div>
    <% end %>
  <% end %>
  <div class="total">
    <div class="cell">Total</div> <!-- Name -->
    <div class="cell"></div> <!-- Ticker -->
    <div class="cell"></div> <!-- Sector -->
    <div class="cell"></div> <!-- Quantity -->
    <div class="cell"></div> <!-- Average Cost -->
    <div class="cell"></div> <!-- Current Price -->
    <div class="cell"><%= number_with_delimiter("%.2f" % @portfolio.total_cost) %></div> <!-- Total Cost -->
    <div class="cell"><%= number_with_delimiter("%.2f" % @portfolio.market_value) %></div> <!-- Market Value -->
    <div class="cell"></div> <!-- YTD (%) -->
    <div class="cell"><%= number_with_delimiter("%.2f" % @portfolio.profit_amount) %></div> <!-- P%L ($) -->
    <div class="cell"><%= @portfolio.profit_pct %></div> <!-- Return (%) -->
    <div class="cell"></div> <!-- More Details -->
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Auto-refresh at 10-minute intervals
    setInterval(function() {
      location.reload();
    }, 10 * 60 * 1000);
  </script>
<% end %>
