<div class="toggles">
  <a href="#consolidated" class="toggle" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="#consolidated">Consolidated</a>
  <a href="#detailed" class="toggle" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="#detailed">All</a>
</div>

<!-- Consolidated -->
<div class="collapse in multi-collapse" id="consolidated">
  <h2>Consolidated Holdings</h2>
  <table class="table-responsive">
    <thead class="header">
      <th>Name</th>
      <th>Ticker</th>
      <th>Sector</th>
      <th>Quantity</th>
      <th>Average Cost</th>
      <th>Current Price</th>
      <th>Total Cost</th>
      <th>Market Value</th>
      <th>YTD (%)</th>
      <th>P&L ($)</th>
      <th>Return (%)</th>
      <th></th>
    </thead>
    <tbody>
      <% @portfolio.duplicates.each do |transaction| %>
        <tr>
          <% transaction.each do |detail| %>
            <td><%= detail %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="total">
      <tr>
        <td>Total</td> <!-- Name -->
        <td></td> <!-- Ticker -->
        <td></td> <!-- Sector -->
        <td></td> <!-- Quantity -->
        <td></td> <!-- Average Cost -->
        <td></td> <!-- Current Price -->
        <td><%= number_with_delimiter("%.2f" % @portfolio.total_cost) %></td> <!-- Total Cost -->
        <td><%= number_with_delimiter("%.2f" % @portfolio.market_value) %></td> <!-- Market Value -->
        <td><%= @portfolio.ytd %></td> <!-- YTD -->
        <td><%= number_with_delimiter("%.2f" % @portfolio.profit_amount) %></td> <!-- P%L ($) -->
        <td><%= @portfolio.profit_pct %></td> <!-- Return (%) -->
        <td></td> <!-- More Details -->
      </tr>
    </tfoot>
  </table>
</div>

<div class="collapse multi-collapse" id="detailed">
  <h2>All Holdings</h2>
  <table class="table-responsive">
    <thead class="header">
      <th>Name</th>
      <th>Ticker</th>
      <th>Sector</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Total Cost</th>
      <th>Market Value</th>
      <th>P&L ($)</th>
      <th>Return (%)</th>
      <th>Date Added</th>
      <th></th> <!-- More Actions -->
    </thead>
    <tbody>
      <tbody>
      <% @portfolio.duplicates.each do |transaction| %>
        <% selected_transactions = @portfolio.transactions.select { |x| x.ticker == transaction[1] } %>
        <% selected_transactions.each do |transaction| %>
          <tr class="portfolio-row">
            <td><%= transaction.name(transaction.ticker) %></td>
            <td><%= transaction.ticker.upcase %></td>
            <td><%= transaction.sector(transaction.ticker) %></td>
            <td><%= number_with_delimiter(transaction.shares) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.price.to_f) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.current_price(transaction.ticker).to_f) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.total_cost.to_f) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.market_value.to_f) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.profit_amount.to_f) %></td>
            <td><%= number_with_delimiter("%.2f" % transaction.profit_pct) %>%</td>
            <td><%= transaction.added.strftime("%d %b %Y") %></td>
            <td>
              <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>

                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-item"><a href="/result?stock=<%= transaction.ticker.upcase %>">Show</a></div>
                  <div class="dropdown-item"><%= link_to "Edit", edit_transaction_path %></div>
                  <div class="dropdown-item"><%= link_to "Delete", transaction_path, method: :delete, data: { confirm: "Are you sure you want to delete?" } %></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </tbody>
  </table>
</div>

