<h1>Your Portfolios</h1>

<div class="flex">
  <h5>As of <%= Time.now.strftime("%d %b %Y %H:%M %p") %></h5>
  <div class="action">
    <%= link_to "New Portfolio", new_portfolio_path, class: "button" %>
    <%= link_to "Refresh", portfolios_path, class: "button" %>
    <a href="/portfolios.csv" class="button">Export</a>
  </div>
</div>

<div class="portfolio">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Holdings</div>
    <div class="cell">Market Value</div>
    <div class="cell">YTD</div>
    <div class="cell">Return</div>
    <div class="cell">Inception Date</div>
    <div class="cell"></div>
  </div>
  <% @portfolios.order(created_at: :asc).each do |portfolio| %>
    <div class="portfolio-row">
      <%= link_to portfolio_path(portfolio) do %>
        <div class="cell"><%= portfolio.name %></div>
        <div class="cell"><%= portfolio.stocks.length %></div>
        <div class="cell"><%= number_with_delimiter(portfolio.market_value.to_i) %></div>
        <div class="cell"><%= portfolio.ytd %></div>
        <div class="cell"><%= portfolio.profit_pct %> (<%= portfolio.profit_amount.to_i %>)</div>
        <div class="cell"><%= portfolio.inception %></div>
        <div class="cell">
          <a href="#"><i class="fas fa-download"></i></a>
          <%= link_to edit_portfolio_path(portfolio) do %><i class="fas fa-cog"></i><% end %>
          <%= link_to portfolio_path(portfolio), method: :delete, data: { confirm: "Are you sure you want to delete this portfolio?"} do %><i class="fas fa-trash-alt"></i><% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= content_for(:title, "Your Portfolios") %>
