<strong><%= @portfolio.name.capitalize %></strong>

<div>
  <% unless @portfolio.stocks.empty? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Ticker</th>
        <th>No. of Shares</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
      <% @portfolio.stocks.each do |stock| %>
        <tr>
          <td><%= StockQuote::Stock.quote(stock.ticker).company_name %></td>
          <td><%= stock.ticker %></td>
          <td><%= stock.shares %></td>
          <td><%= stock.price %></td>
          <td><%= link_to "edit", edit_stock_path(stock) %> | <%= link_to "delete", stock_path(stock), method: :delete, data: { confirm: "Are you sure you want to delete?"} %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no stocks in <%= @portfolio.name.capitalize %>.</p>
  <% end %>
</div>

<br>

<div>
  <%= link_to "add new stock", new_stock_path %>
</div>

<br>

<div>
  <strong>Portfolio Settings:</strong>
  <%= link_to "Edit", edit_portfolio_path(@portfolio) %>
  <%= link_to "Delete", portfolio_path(@portfolio), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
</div>
