<div class="title">
  <strong><%= @portfolio.name %></strong>
</div>

<% unless @portfolio.stocks.empty? %>
  <div>
    <p>
      As of <%= Time.now.strftime("%d %b %Y %H:%M %p") %>.
      <%= "Quotes are delayed by at least 15 minutes." if @portfolio.market_status == "open" %>
    </p>
    <p>Market is <%= @portfolio.market_status %></p>
    <p>Inception Date: <%= @portfolio.inception %></p>
    <p>Total Return: <%= @portfolio.profit_pct.round(2) %>%</p>
    <p>YTD: <%= number_with_delimiter(@portfolio.ytd.round(2)) %>%</p>
    <%# if incepted_days > 365 %>
      <p class="hidden">Annualised Return: <%#= @portfolio.annualised %>%</p>
    <%# end %>
  </div>
<% end %>

<div>
  <strong>Portfolio Settings:</strong>
  <%= link_to "Edit", edit_portfolio_path(@portfolio) %>
  <%= link_to "Delete", portfolio_path(@portfolio), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
</div>

<div>
  <% unless @portfolio.stocks.empty? %>
    <%= render "holdings" %>
  <% else %>
    <p>There are no stocks in <%= @portfolio.name.capitalize %>.</p>
  <% end %>
</div>

<div>
  <p><%= link_to "add new stock", new_stock_path %></p>
  <p><%= link_to "your portfolios", portfolios_path %></p>
</div>

<div class="allocation">
  <%= render "allocation" %>
</div>
