<strong><%= @portfolio.name.capitalize %></strong>

<div>
  <strong>Portfolio Settings:</strong>
  <%= link_to "Edit", edit_portfolio_path(@portfolio) %>
  <%= link_to "Delete", portfolio_path(@portfolio), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
</div>

<div>
  <% unless @portfolio.stocks.empty? %>
    <%#= @portfolio.duplicates %>
    <%= render "holdings" %>
  <% else %>
    <p>There are no stocks in <%= @portfolio.name.capitalize %>.</p>
  <% end %>
</div>

<br>

<div>
  <%= link_to "add new stock", new_stock_path %>
  <%= link_to "your portfolios", portfolios_path %>
</div>
