<div class="chart-tabs">
  <a href="#" class="chart-tab" id="tab-5y">5Y</a>
  <a href="#" class="chart-tab" id="tab-1y">1Y</a>
  <a href="#" class="chart-tab" id="tab-ytd">YTD</a>
  <a href="#" class="chart-tab" id="tab-6m">6M</a>
  <a href="#" class="chart-tab" id="tab-1m">1M</a>
</div>

<div class="performance-charts">
  <div class="performance-chart" id="chart-5y">
  <%= line_chart @chart_5y, messages: {empty: "No data"}, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-1y">
  <%= line_chart @chart_1y, messages: {empty: "No data"}, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-ytd">
  <%= line_chart @chart_ytd, messages: {empty: "No data"}, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-6m">
  <%= line_chart @chart_6m, messages: {empty: "No data"}, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-1m">
  <%= line_chart @chart_1m, messages: {empty: "No data"}, library: @library_options, points: false, min: nil %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    const chart5y = document.getElementById("tab-5y");
    chart5y.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-5y").removeClass("hidden")
    });

    const chart1y = document.getElementById("tab-1y");
    chart1y.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-1y").removeClass("hidden")
    });

    const chartYTD = document.getElementById("tab-ytd");
    chartYTD.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-ytd").removeClass("hidden")
    });

    const chart6m = document.getElementById("tab-6m");
    chart6m.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-6m").removeClass("hidden")
    });

    const chart1m = document.getElementById("tab-1m");
    chart1m.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-1m").removeClass("hidden")
    });
  </script>
<% end %>
