<h2>Performance</h2>
<div class="toggles">
  <a href="#" class="toggle" id="toggle-5y">5Y</a>
  <a href="#" class="toggle" id="toggle-1y">1Y</a>
  <a href="#" class="toggle" id="toggle-ytd">YTD</a>
  <a href="#" class="toggle" id="toggle-6m">6M</a>
  <a href="#" class="toggle" id="toggle-1m">1M</a>
  <a href="#" class="toggle" id="toggle-1d">1D</a>
</div>

<div class="performance-charts">
  <div class="performance-chart" id="chart-5y">
  <%= line_chart @chart_5y, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-1y">
  <%= line_chart @chart_1y, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-ytd">
  <%= line_chart @chart_ytd, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-6m">
  <%= line_chart @chart_6m, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-1m">
  <%= line_chart @chart_1m, library: @library_options, points: false, min: nil %>
  </div>
  <div class="performance-chart hidden" id="chart-1d">
    <%= line_chart @chart_1d, library: @library_options, points: false, min: nil %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    const chart5y = document.getElementById("toggle-5y");
    chart5y.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-5y").removeClass("hidden")
    });

    const chart1y = document.getElementById("toggle-1y");
    chart1y.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-1y").removeClass("hidden")
    });

    const chartYTD = document.getElementById("toggle-ytd");
    chartYTD.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-ytd").removeClass("hidden")
    });

    const chart6m = document.getElementById("toggle-6m");
    chart6m.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-6m").removeClass("hidden")
    });

    const chart1m = document.getElementById("toggle-1m");
    chart1m.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-1m").removeClass("hidden")
    });

    const chart1d = document.getElementById("toggle-1d");
    chart1d.addEventListener("click", (event) => {
      event.preventDefault();
      $(".performance-chart").addClass("hidden")
      $("#chart-1d").removeClass("hidden")
    });
  </script>
<% end %>
