<p><strong>Comparisons</strong></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th>% Change</th>
      <th>High / Low</th>
      <th>YTD</th>
      <th>PE Ratio</th>
      <th>Beta</th>
      <th>ROE</th>
      <th>EPS</th>
      <th>Dividend Yield</th>
    </tr>
  </thead>
  <tbody>
    <!-- query -->
    <tr>
      <td><%= @name %></td>
      <td><%= @symbol %></td>
      <td><%= @price %></td>
      <td><%= (@market_cap.to_f / 1000000).round(1) %>M</td>
      <td><%= (StockQuote::Stock.quote(@query).change_percent * 100).round(2) %>%</td>
      <td><%= @high %> / <%= @low %></td>
      <td><%= (StockQuote::Stock.quote(@query).ytd_change * 100).round(2) %>%</td>
      <td><%= @pe_ratio %></td>
      <td><%= @beta %></td>
      <td><%= @roe %></td>
      <td><%= @eps %></td>
      <td><%= @dividend_yield %></td>
    </tr>

    <!-- comps -->
    <% @comps.first(5).each do |comp| %>
      <tr>
        <td>
          <%= StockQuote::Stock.quote(comp).company_name %>
          <%# comp_name = StockQuote::Stock.quote(comp).company_name %>
          <%# comp_name_words = comp_name.split(" ") %>
          <%#= comp_name_words.count > 5 ? comp_name_words.first(5).join(" ") + "..." : comp_name %>
        </td>
        <td><%= comp %></td>
        <td><%= StockQuote::Stock.quote(comp).latest_price %></td>
        <td><%= (StockQuote::Stock.quote(comp).market_cap / 1000000).round(1) %>M</td>
        <td><%= (StockQuote::Stock.quote(comp).change_percent * 100).round(2) %>%</td>
        <td><%= StockQuote::Stock.quote(comp).high %> / <%= StockQuote::Stock.quote(comp).low %></td>
        <td><%= (StockQuote::Stock.quote(comp).ytd_change * 100).round(2) %>%</td>
        <td><%= StockQuote::Stock.quote(comp).pe_ratio %></td>
        <td></td> <!-- beta -->
        <td></td> <!-- ROE -->
        <td></td> <!-- EPS -->
        <td></td> <!-- dividend yield -->
      </tr>
    <% end %>

    <!-- benchmark -->
    <tr><td><strong>Benchmark</strong></td></tr>
    <% benchmark = @comps.last %>
    <tr>
      <td><%= StockQuote::Stock.quote(benchmark).company_name %></td>
      <td><%= benchmark %></td>
      <td><%= StockQuote::Stock.quote(benchmark).latest_price %></td>
      <td><%= (StockQuote::Stock.quote(benchmark).market_cap / 1000000).round(1) %>M</td>
      <td><%= (StockQuote::Stock.quote(benchmark).change_percent * 100).round(2) %>%</td>
      <td><%= StockQuote::Stock.quote(benchmark).high %> / <%= StockQuote::Stock.quote(benchmark).low %></td>
      <td><%= (StockQuote::Stock.quote(benchmark).ytd_change * 100).round(2) %>%</td>
      <td><%= StockQuote::Stock.quote(benchmark).pe_ratio %></td>
      <td></td> <!-- beta -->
      <td></td> <!-- ROE -->
      <td></td> <!-- EPS -->
      <td></td> <!-- dividend yield -->
    </tr>
  </tbody>
</table>
