<!-- <h2 class="hidden-xs hidden-sm">Comparisons</h2> -->
<!-- <div class="mobile-flex hidden-md hidden-lg"> -->
<div class="mobile-flex">
  <h2>Comparisons</h2>
  <a href="#" class="toggle-mobile-comps hidden-lg hidden-md" id="comps-detailed"><i class="fas fa-search-plus"></i></a>
  <a href="#" class="toggle-mobile-comps hidden-xs hidden-lg hidden-md hidden-sm" id="comps-simplified"><i class="fas fa-search-minus"></i></a>
</div>

<div class="table-responsive-md hidden-xs hidden-sm" id="comps-desktop">
  <table>
    <thead class="header">
      <th>Name</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th>% Change</th>
      <th>High / Low</th>
      <th>YTD</th>
      <th>PE Ratio</th>
      <th>Beta</th>
      <th>ROE</th>
      <th>EPS</th>
      <th></th>
    </thead>
    <tbody>
      <% @comps.each do |comp| %>
        <tr class="portfolio-row">
          <% comp.each do |detail| %>
            <td><%= detail %></td>
          <% end %>
          <td>
            <div class="dropdown show">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-down"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <% if user_signed_in? %>
                  <div class="dropdown-item"><%= link_to "Add", new_transaction_path %></div>
                <% end %>
                <div class="dropdown-item"><a href="/result?stock=<%= comp[1] %>">Show</a></div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive-md hidden-lg hidden-md" id="comps-mobile">
  <table>
    <thead>
      <th>Ticker</th>
      <th>High / Low</th>
      <th>Market Cap</th>
      <th>YTD</th>
      <th></th>
    </thead>
    <tbody>
      <% @mobile_comps.each do |comp| %>
        <tr class="portfolio-row">
          <% comp.each do |detail| %>
            <td><%= detail %></td>
          <% end %>
          <td>
            <div class="dropdown show">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-down"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item"><%= link_to "Add", new_transaction_path %></div>
                <div class="dropdown-item"><a href="/result?stock=<%= comp[0] %>">Show</a></div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_pack_tag "comps-toggle.js" %>
