<div>
  <strong><%= @stock.name(@stock.ticker) unless @stock.ticker.nil? %></strong>
</div>

<%= simple_form_for(@stock) do |s| %>
  <%= s.input :ticker %>
  <%= s.input :shares %>
  <%= s.input :price %>
  <%= s.input :added %>
  <%= s.association :portfolio, collection: Portfolio.order(:created_at), prompt: "Please select:" %>
  <%= s.submit "Submit", class: "btn" %>
  <a href="#" class="btn" onClick="history.go(-1);return true;">BACK</a>
<% end %>
