<% unless @query.empty? || @query.nil? %>
  <div class="results">

    <p><strong>Description:</strong> <%= @description %></p>
    <p><strong>As of:</strong> <%= @update %></p>
    <p><strong>Exchange:</strong> <%= @exchange %></p>
    <p><strong>Latest Price:</strong> <%= number_with_delimiter(@price) %></p>
    <p><strong>Market Cap:</strong> <%= number_with_delimiter(@market_cap) %></p>
    <p>
      <strong>Open/Close:</strong> <%= @open %> / <%= @close %>
      <strong>High/Low:</strong> <%= @high %> / <%= @low %>
    </p>
    <p><strong>52-week range:</strong> <%= @high_52 %> / <%= @low_52 %></p>
    <p><strong>Sector:</strong> <%= @sector %></p>

    <strong><u>Performance</u></strong>
    <%= render "chart" unless @query.nil? || @query.empty? %>

    <div class="comps">
      <%= render "comp" unless @query.nil? || @query.empty? %>
    </div>
  </div>

  <p><%= link_to "Add to Portfolio", new_transaction_path if user_signed_in? %></p>
  <p><%= link_to "Back", :back %></p>

<% else %>
  <div>
    Search by entering a ticker.
  </div>
<% end %>

