<div class="info">
  <div class="col-xs-12 col-md-6 col-sm-6">
    <h2>Description</h2>
    <p><%= @description %></p>
    <p><%= link_to @website, @website %></p>
    <p><%= @sector %></p>
  </div>
  <div class="col-xs-12 col-md-6 col-sm-6">
    <table>
      <h2>Stats</h2>
      <tr>
        <td class="book-label"><h5>Open</h5></td>
        <td class="book-value"><%= @open %></td> <!-- so far don't need close method -->
      </tr>
      <tr>
        <td class="book-label"><h5>High</h5></td>
        <td class="book-value"><%= @high %></td>
      </tr>
      <tr>
        <td class="book-label"><h5>Low</h5></td>
        <td class="book-value"><%= @low %></td>
      </tr>
      <tr>
        <td class="book-label"><h5>52 wk high</h5></td>
        <td class="book-value"><%= @high_52 %></td>
      </tr>
      <tr>
        <td class="book-label"><h5>52 wk low</h5></td>
        <td class="book-value"><%= @low_52 %></td>
      </tr>
      <tr>
        <td class="book-label"><h5>Average Volume</h5></td>
        <td class="book-value"><%= number_with_delimiter(@avg_volume) %></td>
      </tr>
      <tr>
        <td class="book-label"><h5>P/E Ratio</h5></td>
        <td class="book-value"><%= @pe_ratio %></td>
      </tr>
    </table>
  </div>
</div>

<div class="performance"><%= render "chart" %></div>
<div class="news"><%= render "news" %></div>
<div class="comps"><%= render "comp" %></div>
