<% unless @query.nil? || @query.empty? %>
  <h1><%= @name %></h1>
  <h5><%= @symbol %>:<%= @exchange %></h5>
  <h5><strong>As of:</strong> <%= @update %></h5>

  <div class="stats">
    <div class="stat">
      <div class="stat-header"><h5>Latest Price</h5></div>
      <div class="stat-content"><%= number_with_delimiter(@price) %></div>
    </div>
    <div class="stat">
      <div class="stat-header"><h5>Day Change</h5></div>
      <div class="stat-content"><%= @change_amount_day.round(2) %> (<%= number_to_percentage(@change_pct_day) %>)</div>
    </div>
  </div>

  <%= render "transactions" %>
  <div class="result"><%= render "info" %></div>
<% else %>
  <h1>Search by entering a ticker:</h1>
  <%= render "stocks/search" %>
<% end %>

<%= @query.nil? || @query.empty? ? content_for(:title, "Search") : content_for(:title, @name) %>
