<p><strong>Name:</strong> <%= @stock.name(@stock.ticker) %></p>
<p><strong>Ticker</strong> <%= @stock.ticker %></p>

<% @user.stocks.each do |stock| %>
  <%= link_to stock.portfolio.name, portfolio_path(stock.portfolio) if stock.ticker == @stock.ticker %>
<% end %>

<table>
  <tr>
    <th>No. of Shares</th>
    <th>Current Price</th>
    <th>Market Value</th>
    <th>Total Cost</th>
    <th>P&L ($)</th>
    <th>Return (%)</th>
    <th>Date Added</th>
    <th>Action</th>
  </tr>
  <tr>
    <td><%= number_with_delimiter(@stock.shares) %></td>
    <td><%= @stock.current_price(@stock.ticker) %></td>
    <td><%= number_with_delimiter("%.2f" % @stock.market_value) %></td>
    <td><%= number_with_delimiter("%.2f" % @stock.total_cost) %></td>
    <td><%= number_with_delimiter("%.2f" % @stock.profit_amount) %></td>
    <td><%= @stock.profit_pct.round(2) %>%</td>
    <td><%= @stock.created_at.strftime("%d %b %Y") %></td>
    <td><%= link_to "Edit", edit_stock_path(@stock) %> | <%= link_to "Delete", stock_path(@stock), method: :delete, data: { confirm: "are you sure you want to delete?"} %></td>
  </tr>
</table>

<%= render "info" %>
