<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick", "http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js", "application" %>
    <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css", "application", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="<%= image_url('favicon.ico') %>" />
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= yield(:after_js) %>
  </body>
</html>
